<?xml version="1.0" ?>
<config>
    <modules>
        <Val_NewsletterPopUp>
            <version>0.0.1</version>
        </Val_NewsletterPopUp>
    </modules>
    <frontend>
        <layout>
            <updates>
                <newsletterpopup>
                    <file>newsletterpopup.xml</file>
                </newsletterpopup>
            </updates>
        </layout>
    </frontend>
</config>