<config>
    <modules>
        <Tom_Tomblog>
            <version>0.1.0</version>
        </Tom_Tomblog>
    </modules>
    <frontend>
        <layout>
            <updates>
                <tomblog>
                    <file>tomblog.xml</file>
                </tomblog>
            </updates>
        </layout>
        <routers>
            <weblog>
                <use>standard</use>
                <args>
                    <module>Tom_Tomblog</module>
                    <frontName>tomblog</frontName>
                </args>
            </weblog>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tom_tomblog after="Mage_Adminhtml">Tom_Tomblog_Adminhtml</tom_tomblog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <tomblog>
                    <file>tomblog.xml</file>
                </tomblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <tomblog>Tom_Tomblog.csv</tomblog>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <blocks>
            <tomblog>
                <class>Tom_Tomblog_Block</class>
            </tomblog>
        </blocks>
        <models>
            <tomblog>
                <class>Tom_Tomblog_Model</class>
                <resourceModel>tomblog_resource</resourceModel>
            </tomblog>
            <tomblog_resource>
                <class>Tom_Tomblog_Model_Resource</class>
                <entities>
                    <category>
                        <table>tomblog_category</table>
                    </category>
                    <article>
                        <table>tomblog_article</table>
                    </article>
                </entities>
            </tomblog_resource>
        </models>
        <resources>
            <tomblog_setup>
                <setup>
                    <module>Tom_Tomblog</module>
                    <class>Tom_Tomblog_Model_Resource_Setup</class>
                </setup>
            </tomblog_setup>
        </resources>
        <helpers>
            <tomblog>
                <class>Tom_Tomblog_Helper</class>
            </tomblog>
        </helpers>
    </global>
</config>